﻿@model EscuelaNet.Presentacion.Clientes.Web.Models.SolicitudesIndexModel

<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.Titulo</h3>
                <label class="text-success">@TempData["success"]</label>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">                
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Titulo</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Unidades vinculadas</th>
                                <th>Acciones</th>
                            </tr>

                            @foreach (var solicitud in Model.Solicitudes)
                            {
                                <tr>


                                    <td>@solicitud.ID</td>
                                    <td>@solicitud.Titulo</td>
                                    <td>@solicitud.Descripcion</td>
                                    <td>@solicitud.Estado</td>
                                    <td>
                                        <a href="/Solicitudes/Unidades/@solicitud.ID" title="Unidades vinculadas" class="btn btn-toolbar">
                                            <label class="label bg-gray"><i class="fa fa-bank"></i> Unidades</label>
                                        </a>

                                    </td>


                                    <td>
                                        <a href="/Solicitudes/edit/@solicitud.ID" title="Editar" class="btn btn-toolbar">
                                            <label class="label bg-gray"><i class="fa fa-edit"></i> Editar</label>
                                        </a>
                                        <a href="/Solicitudes/delete/@solicitud.ID" title="Borrar" class="btn btn-toolbar">
                                            <label class="label bg-gray"><i class="fa fa-remove"></i> Borrar</label>
                                        </a>
                                    </td>

                                </tr>
                            }


                            <tr>
                                <td colspan="6">
                                    <a href="/solicitudes/new" title="Nuevo" class="btn btn-toolbar">
                                        <label class="label bg-gray"><i class="fa fa-plus"></i> Nuevo</label>
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>               
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

@section Scripts{
    <script>
    </script>
}


