﻿@model EscuelaNet.Presentacion.Clientes.Web.Models.UnidadSolicitudModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-10">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Unidades vinculadas a la solicitud '@Model.Solicitud.Titulo'</h3>
                <label class="text-success">@TempData["success"]</label>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Razon Social</th>
                            <th>Email</th>
                            <th>Responsable</th>
                            <th>Cuit</th>
                            <th>Telefono</th>
                            <th>Humor Unidad</th>
                            <th>Acepta Proyectos</th>
                            <th> </th>
                        </tr>
                        @foreach (var unidad in Model.Unidades)
                        {
                    <tr>
                        <td>@unidad.ID</td>
                        <td>@unidad.RazonSocial</td>
                        <td>@unidad.EmailResponsable</td>
                        <td>@unidad.ResponsableDeUnidad</td>
                        <td>@unidad.Cuit</td>
                        <td>@unidad.TelefonoResponsable</td>
                        @if (unidad.AceptarProyecto)
                        {
                            <td><p style="color:green"> @unidad.Humor</p></td>
                            <td>Si acepta</td>
                        }
                        else
                        {
                            <td><p style="color:red"> @unidad.Humor</p></td>
                            <td>No acepta</td>
                        }

                        <td>

                            <a href="/Solicitudes/UnlinkUnidad/@unidad.ID?solicitud=@Model.Solicitud.ID" title="Desvincular Solicitud de la unidad" class="btn btn-toolbar">
                                <label class="label bg-gray"><i class="fa fa-remove"></i> Desvincular</label>
                            </a>
                        </td>



                    </tr>

                        }
                    <tr>
                        <td colspan="9">
                            <a href="/Solicitudes/LinkUnidad/@Model.Solicitud.ID" title="Vincular nueva unidad" class="btn btn-toolbar">
                                <label class="label bg-gray"><i class="fa fa-plus"></i> Vincular unidad</label>
                            </a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

<div>
    @Html.ActionLink("Volver a Solicitudes", "../Solicitudes/Index")
</div>

@section Scripts{
    <script>
    </script>
}


