﻿@model EscuelaNet.Presentacion.Proyectos.Web.Models.NuevaEtapaModel

@{
    ViewBag.Title = "New";
}




    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Nuevo etapa</h3>
                    <label class="text-danger">@TempData["error"]</label>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("New", "Etapas", null,
           FormMethod.Post, new { role = "form", data_toggle = "validator", @id = "myForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IDLinea)
                    @Html.HiddenFor(model => model.IDProy)
                    

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Debe ingresar el nombre la Etapa.", data_minlength = "5" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "help-block with-errors" })
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.duracion, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.duracion, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Debe ingresar la duración de la Etapa", data_minlength = "1" } })
                            @Html.ValidationMessageFor(model => model.duracion, "", new { @class = "help-block with-errors" })
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                }

            </div>
            <!-- /.box -->
        </div>

    </div>
<div>
    <a href="/Etapas/Index/?idLinea=@Model.IDLinea&idProy=@Model.IDProy">Volver a lista de Etapas</a>
</div>

@section Scripts {
    <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
    <script>
        $(document).ready(function () {
            $('#myForm').validator()
        });
    </script>
}
