﻿@model EscuelaNet.Presentacion.Clientes.Web.Models.ClientesIndexModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Clientes</h3>
                <label class="text-success">@TempData["success"]</label>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Razon Social</th>
                            <th>Email</th>
                            <th>Categoria</th>
                            @*<th>Humor</th>*@
                            <th>Unidades</th>
                            <th>Acciones</th>
                        </tr>
                        @foreach (var cliente in Model.Clientes)
                        {
                    <tr>
                        <td>@cliente.ID</td>
                        <td>@cliente.RazonSocial</td>
                        <td>@cliente.Email</td>
                        <td>@cliente.Categoria</td>
                        @*@if (cliente.HumorUnidades())
                        {
                            <td>
                                <p style="color:green"> Buen Humor </p> 
                            </td>
                        }
                        else
                        {
                            <td>
                                <p style="color:red"> Mal Humor </p>
                            </td>
                        }*@
                        <td>
                            <a href="/Unidades/index/@cliente.ID" title="Unidades" class="btn btn-toolbar">
                                <label class="label bg-gray"><i class="fa fa-check"></i> Unidades</label>
                            </a>
                            <a href="/Unidades/new/@cliente.ID" title="Crear Unidad" class="btn btn-toolbar">
                                <label class="label bg-gray"><i class="fa fa-plus"></i> Crear Unidad</label>
                            </a>

                         </td>

                        <td>
                            <a href="/Clientes/edit/@cliente.ID" title="Editar" class="btn btn-toolbar">
                                <label class="label bg-gray"><i class="fa fa-edit"></i> Editar</label>
                            </a>
                            <a href="/Clientes/delete/@cliente.ID" title="Borrar" class="btn btn-toolbar">
                                <label class="label bg-gray"><i class="fa fa-remove"></i> Borrar</label>
                            </a>
                        </td>
                    </tr>

                        }
                        <tr>
                            <td colspan="8">
                                <a href="/clientes/new" title="Nuevo" class="btn btn-toolbar">
                                    <label class="label bg-gray"><i class="fa fa-plus"></i> Nuevo</label>
                                </a>
                            </td>
                           
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

@section Scripts{
    <script>
    </script>
}


