﻿@model EscuelaNet.Presentacion.Capacitacion.Web.Models.NuevoInstructorTemaModel

@{
    ViewBag.Title = "New";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Nuevo Tema para @Model.NombreApellido</h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("NewTema", "Instructores", new { }, FormMethod.Post, new { role = "form", data_toggle = "validator", @id = "myform" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model=>model.IDInstructor)
                <div class="box-body">                    

                    <div class="form-group">
                        @Html.LabelFor(model => model.Temas, htmlAttributes: new { @class = "control-label col-md-2" })
                        <select name="IDTema" class = "form-control col-md-2">
                            @foreach(var tema in Model.Temas)
                            {
                                <option value="@tema.Id">@tema.Nombre + @tema.Nivel</option>
                            }
                        </select>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="~/temas/" class="btn btn-primary">Cancelar</a>
                </div>
            }

        </div>
        <!-- /.box -->
    </div>

</div>

@section Scripts {
    <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
    <script>
      $(document).ready(function () {
          $('#myForm').validator()
      });

    </script>

}
